/*MAIN ADJUST */
/*BOTTOM SECTION PADDING FIX FOR SM WIDTH */
/*MARGIN CENTER */
/*Created Button */
/* SQUEEZES MAIN CONTENT FOR HEADER TO BE LONGER */
.mainCenter {
  margin-left: 8%;
  margin-right: 8%;
}
/* .MAINCENTER PHONE ADJ */
.mainCenPh {
  margin-left: 3%;
  margin-right: 3%;
}
/*COMPRESSES BOTTOM SEC TO HAVE SM WIDTH */
.padBotSecSm {
  padding-top: 5%;
  padding-right: 12%;
  padding-left: 12%;
  margin: 0 auto;
}
.padBotSecSmPhone {
  padding-right: 2%;
  padding-left: 2%;
}
/* Centering h1 and nav */
.headerCenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 1% 5%;
  background-color: #F6F6F6;
}
.cardDimSpec {
  border: 1px solid black;
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 5%;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem;
  padding-top: 5%;
}
.cardQusAns1 .answer1,
.cardQusAns1:hover > .question1 {
  display: none;
}
.cardQusAns1 .question1,
.cardQusAns1:hover > .answer2 {
  display: block;
}
.cardQusAns2 .answer2,
.cardQusAns2:hover > .question2 {
  display: none;
}
.cardQusAns2 .question2,
.cardQusAns2:hover > .answer2 {
  display: block;
}
.cardQusAns3 .answer3,
.cardQusAns3:hover > .question3 {
  display: none;
}
.cardQusAns3 .question3,
.cardQusAns3:hover > .answer3 {
  display: block;
}
.cardQusAns4 .answer4,
.cardQusAns4:hover > .question4 {
  display: none;
}
.cardQusAns4 .question4,
.cardQusAns4:hover > .answer4 {
  display: block;
}
.cardQusAns5 .answer5,
.cardQusAns5:hover > .question5 {
  display: none;
}
.cardQusAns5 .question5,
.cardQusAns5:hover > .answer5 {
  display: block;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
/* UPDATED H1 FOR SPACE WALKERS*/
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
/*Change max-width*/
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
/*ADD BOTH NAV AND ANCHOR */
nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  margin-bottom: 1%;
  margin-top: 1%;
  /*@MEDIA @PHONE FITS A IN NAV */
}
@media (max-width: 500px) {
  nav {
    justify-content: space-evenly;
    width: 100%;
  }
}
nav a {
  text-decoration: none;
  color: black;
}
/*ABOUT NAV */
.navAbout a {
  color: #F1F1F1;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Adjust to center */
  margin-left: 8%;
  margin-right: 8%;
}
@media (max-width: 500px) {
  footer {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpAy3w.ttf) format('truetype');
}
.home {
  /* THREE MID IMG */
}
.home .intro {
  /* HEADER IMG EARTH FROM SPACE */
}
.home .intro .headerTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 1% 5%;
  background-color: #F6F6F6;
}
.home .intro .headerBottom {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
  /* ADJUST MARG @PHONE DIM */
}
@media (max-width: 500px) {
  .home .intro .headerBottom {
    margin-left: 3%;
    margin-right: 3%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
  /* THREE IMG DISPLAY NONE MOBILE 500PX*/
}
@media (max-width: 500px) {
  .home .space-images img {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .blast {
    display: block;
    width: 100%;
  }
}
.home .visit-planets {
  padding: 15px;
  margin-left: 8%;
  margin-right: 8%;
}
@media (max-width: 500px) {
  .home .visit-planets {
    margin-left: 3%;
    margin-right: 3%;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  border-top: 1px solid #dee2e6;
  display: flex;
  padding-top: 5%;
  padding-right: 12%;
  padding-left: 12%;
  margin: 0 auto;
  /* ALIGN BOTTOM SECTION COLUMN 500PX */
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
  }
}
.home .walk .walk-text {
  /* CHANGES WIDTH OF BOTTTOM SECTION 'WALK */
  width: 45%;
  padding: 0 5%;
  /*WIDEN BOTTOM SEC @PHONE*/
  /* PARAMATERS PASSED INTO BTN FORM MIXIN*/
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
    margin: 0 auto;
  }
}
.home .walk .walk-text h3 {
  margin-top: 5%;
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
  width: 100%;
}
.home .walk .walk-text .btn {
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 1.8rem;
  width: 100px;
  padding: 10px 10px;
  border-radius: 7px;
  justify-content: center;
  margin-bottom: 10%;
  /* HOVER */
  /*  EXTENDS BUTTON FOR @PHONE */
}
.home .walk .walk-text .btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  padding-left: 3%;
  margin: 0 auto;
  /*STRETCH BOTTOM IMG @PHONE*/
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin-left: 0;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about header .headerTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 1% 5%;
  background-color: #F6F6F6;
}
.about header .headerBottom {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
}
.about header img {
  height: 300px;
}
@media (max-width: 500px) {
  .about header img {
    display: none;
  }
}
.about .mainAbout {
  padding-bottom: 25%;
  column-count: 2;
}
@media (max-width: 500px) {
  .about .mainAbout {
    column-count: 1;
  }
}
.about .mainAbout .cardQuestions .cardContainer {
  cursor: pointer;
  height: 250px;
  perspective: 600;
  position: relative;
  width: 375px;
  margin: 3%;
}
.about .mainAbout .cardQuestions .cardContainer .card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.about .mainAbout .cardQuestions .cardContainer .card .sideOne {
  border: 1px solid black;
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 5%;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem;
  padding-top: 5%;
  position: absolute;
  overflow: hidden;
}
.about .mainAbout .cardQuestions .cardContainer .card .sideTwo {
  border: 1px solid black;
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 5%;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem;
  padding-top: 5%;
  transform: rotateY(180deg);
}
.about .mainAbout .cardQuestions .cardContainer .card:hover {
  transform: rotateY(180deg);
}
