// Mixins Here


/*Created Button */

.btnSign (@bgColorBtn, @txtColorBtn) {
    background-color:@bgColorBtn;
    border:none;
    color: @txtColorBtn;
    text-decoration: none;
    display: flex;
    font-size: 1.8rem;
    width: 100px;
    padding: 10px 10px;
    border-radius: 7px;
    justify-content: center;
    margin-bottom: 10%;

    /* HOVER */
    &:hover {
        color: @bgColorBtn;
        background-color: @txtColorBtn;
        border:1px solid black;

    }
}

/* SQUEEZES MAIN CONTENT FOR HEADER TO BE LONGER */
.mainCenter {
    margin-left: @marginCenter;
    margin-right: @marginCenter;
}
/* .MAINCENTER PHONE ADJ */
 .mainCenPh {
     margin-left: @marginCenPhone;
     margin-right: @marginCenPhone;
 }


/*COMPRESSES BOTTOM SEC TO HAVE SM WIDTH */
.padBotSecSm {
    padding-top: 5%;
    padding-right: @padBotSec;
    padding-left: @padBotSec;
    margin: 0 auto;
}

.padBotSecSmPhone {
    padding-right: 2%;
    padding-left: 2%;
}

/* Centering h1 and nav */
.headerCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    padding: 1% 5%;
    background-color: @nav-bg;
  }

  .cardDimSpec{
    border:1px solid black;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    padding: 5%;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.2rem;
    padding-top: 5%;
  }

  .cardQusAns1 {
    .answer1,&:hover>.question1 {
        display: none;
    }
    
    .question1,&:hover>.answer2{
        display: block;
    }

  }
  .cardQusAns2 {
    .answer2,&:hover>.question2 {
        display: none;
    }
    
    .question2,&:hover>.answer2{
        display: block;
    }

  }
  .cardQusAns3 {
    .answer3,&:hover>.question3 {
        display: none;
    }
    
    .question3,&:hover>.answer3{
        display: block;
    }

  }
  .cardQusAns4 {
    .answer4,&:hover>.question4 {
        display: none;
    }
    
    .question4,&:hover>.answer4{
        display: block;
    }

  }
  .cardQusAns5 {
    .answer5,&:hover>.question5 {
        display: none;
    }
    
    .question5,&:hover>.answer5{
        display: block;
    }

  }