// Navigation code here


/*ADD BOTH NAV AND ANCHOR */
nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    margin-bottom: 1%;
    margin-top: 1%;

    /*@MEDIA @PHONE FITS A IN NAV */
    @media @phone {
        justify-content: space-evenly;
        width: 100%;
    }

    a   {
        text-decoration: none;
        color: black;
     
        
    }
    
}

/*ABOUT NAV */
.navAbout {

    a{
        color: @sea-shell;

        
    }
}